<h3>Satellite Counts:</h3>
<div class="counts">
    <div>Total: <span>{{satellites.length}}</span></div>
    <div>Space Debris: <span>{{counter('Space Debris')}}</span></div>
    <div>Communication: <span>{{counter('Communication')}}</span></div>
    <div>Probe: <span>{{counter('Probe')}}</span></div>
    <div>Positioning: <span>{{counter('Positioning')}}</span></div>
    <div>Space Station: <span>{{counter('Space Station')}}</span></div>
    <div>Telescope: <span>{{counter('Telescope')}}</span></div>
</div>